[buildout]
develop = .

parts =
    plone
    zope2
    instance
    test

eggs =
    elementtree
    PILwoTk
    zope.testing

[plone]
recipe = plone.recipe.plone
eggs = Products.Maps

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
zope2-location = ${zope2:location}
products = ${plone:products}

eggs =
    ${buildout:eggs}
    ${plone:eggs}

[test]
recipe = collective.recipe.scriptgen
cmd = ${buildout:directory}/bin/instance
arguments = test -s Products.Maps --exit-with-status --test-path=${buildout:directory}
