.mapsMarker {
  margin: 0;
  padding: 0;
}

.googleMapView.googleMapActive,
.googleMapPane {
    height: 40em;
}

.googleMapActive.googleMapLocation {
    float: right;
    width: 50%;
    min-width: 20em;
    height: 25em;
}
.googleMapLocation .googleMapPane {
    height: 25em;
}



/*.tab*/
.infowindowTabHandlers{
    margin-top: -36px;
    margin-left: 10px;
}

.infowindowTabHandler{
    float:left;
    padding: 0 0.4em;
    border: 1px solid #ABABAB;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height:19px;
}
.infowindowTabHandler.selected{
    border-bottom: none;
    height:20px;
}
.tab{
    clear: both;
}

.mapSearchBar{
/*    width: 25em;*/
    width: 80%;
}


/*search*/
.googleMapWrapper{
    overflow:hidden;
}

.googleMapSearch{
    width:180px;
    float:left;
    margin-left:-180px;
}

.googleMapSearchBar{
    height:25px;
    width:100%;
    padding-top:4px;
    padding-left: 25px;
    background:url(map-arrow-left.png) no-repeat left #CCCCCC;
}
.open-search .googleMapSearchBar{
    background-image:url(map-arrow-down.png)
}

.googleMapSearch{
    margin-left: -180px;
    -moz-transition: margin-left 0.4s;
    -webkit-transition: margin-left 0.4s;
    -o-transition: margin-left 0.4s;
    transition: margin-left 0.4s;
}

.open-search  .googleMapSearch{
    margin-left: 0px;
}

.googleMapImHere{
    margin-top:3px;
}

.googleMapIMHere{
    border-bottom: thin solid #CCCCCC;
    margin: 3px 8px 3px 3px;
    padding: 3px;

}
.googleMapResult{
    padding:3px;
    margin:3px;
}

.googleMapResult.selected{
    background-color:#DDDDDD;
}
.googleMapResult .indication{
    text-align:right;
   
}

.label_search{
    display:none;
}

.googleMapSearch .searchButton{
}

.googleMapView > ul{
    display: none;
}
.no-js .googleMapView > ul{
    display: block !important;
}


/*
layers
*/
.maps-layers-control{
    background-color: white;
    border-color: #A9BBDF;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    margin-right: 5px;
}

.maps-layer{
    padding: 2px;
}
